{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  video {
    width: 100%;
    height: auto;
  }
  .bg {
      /* Background pattern from Toptal Subtle Patterns */
      background-image: url("data:image/*;base64,{{course.cover}}");
      background-size: cover;
      height: fit-content;
  }
</style>

<div class="bg">
  <div style="background-color: rgba(0, 0, 0, 0.56);">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">
            <h1 class="card-title">{{course.title}}</h1>
            <p class="card-text text-primary">{{instructor.name}}</p>
          </div>
          <div class="card-body">
            <div class="course-description" id="description-toggle">
              <p>{{course.description}}</p>
              <p>${{course.price}}</p>
              {% if current_user.is_authenticated %}
              {% if current_user.user_type!="instructor"%}
              <button onClick="purchaseCourse({{course.id}})" class="btn btn-primary">Purchase {% if current_user.user_type == "student"%}for FREE!{% endif %} </button>
              <br><br>
              {% endif %}
              
              {% endif %}
            </div>
            <div>
              <video id="myVideo" controls>
                <source src="data:video/mp4;base64,{{ videos[0].file }}" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center p-3">
          <h2 class="card-title">Course Videos</h2>
          <ol class="list-group list-group-flush list-group-numbered">
            {% for video in videos %}
            <li class="list-group-item">
              <button class="btn btn-light btn-block play-video-btn" data-video-file="{{ video.file }}">{{video.title}}</button>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</div></div>

<script>
  const videoPlayer = document.getElementById('myVideo');

  function playVideo(event) {
    const clickedButton = event.target;
    const videoFile = clickedButton.dataset.videoFile;
    videoPlayer.innerHTML = `<source src="data:video/mp4;base64,${videoFile}" type="video/mp4">`;
  }

  const playVideoButtons = document.querySelectorAll('.play-video-btn');

  playVideoButtons.forEach(button => {
    button.addEventListener('click', playVideo);
  });


  
</script>
{% endblock %}