{% extends "base.html" %} 

{% block title %}Home{% endblock %} 


{% block content %}
<style>
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  video {
    width: 80%;
    height: auto;
  }
  .bg {
      /* Background pattern from Toptal Subtle Patterns */
      background-image: url("data:image/*;base64,{{course.cover}}");
      background-size:cover;
      height:fit-content;
    
      

   }
   

</style>
<div class="bg">
<div class="container p-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">
            <h1 class="card-title">{{course.title}}</h1>
            <p class="card-text text-primary">{{instructor.name}}</p>
          </div>
          <div class="card-body">
            <div class="course-description" id="description-toggle">
              <p>{{course.description}}</p>
              <p>{{course.price_value}}</p>
            </div>
            <div class="video-container">
              <video id="videoPlayer" controls>
                
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center p-3">
          <h2 class="card-title">Video List</h2>
          <ol class="list-group list-group-flush list-group-numbered">
            {% for video in videos %}
            
            <li class="list-group-item"><button onClick="playVideo({{video.file}})" class="btn btn-light btn-block">{{video.title}}</button></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>

</div>
  <script>
    const videoPlayer = document.getElementById('videoPlayer');

    // Function to play a video from a base64 string
    function playVideo(base64String) {
      videoPlayer.src = `data:video/mp4;base64,${base64String}`;
      videoPlayer.play();
    }

    
  </script>
{% endblock %}
    
