{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content
%}
<style>
    body {
        /* Background pattern from Toptal Subtle Patterns */
        background-image: url("static/images/wallpaper.png");
        height: 100%;
        width: 100%;

     }
</style>
<div class="bgDiv p-5">

    <figure class="text-center">
        <h1 class="display-5">Welcome to: <strong>The Course Vault</strong></h1>
        </figure>
        <h1>
         v\Lorem ipsum odor amet, consectetuer adipiscing elit. Vehicula hendrerit dui turpis pulvinar nullam turpis himenaeos feugiat. Placerat dignissim senectus consequat aliquet euismod cursus euismod. Elementum quam velit suspendisse malesuada semper phasellus mollis pharetra mattis. Odio magna ac in per facilisi non. Augue semper nisl non felis pellentesque elit ante tristique neque. Fusce non leo metus nunc suscipit mauris ligula. Aliquet gravida potenti facilisis euismod lacinia in efficitur. Luctus accumsan efficitur felis sollicitudin felis tincidunt sollicitudin.

         Fringilla bibendum ligula montes nulla faucibus. Tempor est habitasse per euismod luctus nullam. Purus ut aenean himenaeos id convallis nibh congue. Pellentesque sodales fringilla felis, nam fusce congue. Ullamcorper ornare hac curae potenti lacinia potenti scelerisque aenean efficitur. Neque dapibus sollicitudin nam sit sodales dictum et. Pellentesque mattis nunc finibus vel fusce. Lobortis sodales lobortis ridiculus molestie risus pharetra. Id enim aliquet velit libero euismod conubia faucibus?
         
         Tristique scelerisque lectus rhoncus purus bibendum. Morbi lacus sociosqu aliquam nostra turpis pellentesque. Convallis ac vitae ornare sodales nam suscipit aptent parturient laoreet. Penatibus nibh at leo dictum mi blandit. Orci diam sodales tellus congue adipiscing ullamcorper maecenas in nibh. Curae pellentesque maximus vulputate orci potenti per parturient cubilia! Feugiat non purus metus duis parturient tortor nisl consectetur.
         
         Mi placerat platea tempus dapibus consequat morbi. Aliquet quis sapien augue congue volutpat eros quisque velit. Penatibus dapibus venenatis magnis velit nec egestas. Nisl vel scelerisque nostra augue pellentesque malesuada conubia justo iaculis. Mattis nisi eleifend lectus mauris mollis aenean at adipiscing gravida. Cubilia cubilia scelerisque aliquam lectus suspendisse venenatis hac vivamus tempor. Vulputate nostra volutpat sem dui egestas quam bibendum sociosqu. Lectus lectus consequat sit aptent; quisque quisque. Aliquam viverra convallis ligula aliquet, ridiculus nisi.
         
         Rhoncus arcu hendrerit tempus lobortis scelerisque semper. Est ornare ad neque nisi vel. Nulla auctor ultricies rhoncus tempus at habitant conubia libero. Porttitor maximus duis finibus eu, auctor nostra congue ullamcorper parturient. Natoque lobortis lacus penatibus ridiculus ultricies nibh senectus. Finibus volutpat sed dis elit pulvinar, sit elit nec pharetra. Quis suscipit dolor vitae, habitant et massa. Vitae mi lectus cras class hac nam phasellus scelerisque.
         
         Feugiat mauris bibendum, a nibh nam leo? Praesent nec egestas lobortis, purus lacinia mus. Suspendisse est molestie mus litora ullamcorper nisl? Dolor malesuada per fames conubia tempor lobortis. Etiam facilisis cursus senectus dis vivamus bibendum cras class litora. Tempor volutpat erat vehicula; class tellus quam hac et per. Elit convallis venenatis elementum porttitor iaculis etiam non.
         
         Dapibus donec nibh accumsan cubilia sed vel dignissim eros. Neque congue elementum habitasse aenean parturient porttitor. Facilisis volutpat commodo ex; aliquet netus potenti. Condimentum auctor fusce mi platea vulputate vel. Commodo aliquam aliquet non curabitur pellentesque aenean vehicula. Pharetra mus sem in eleifend tempor nulla adipiscing semper. Metus convallis ipsum leo ridiculus mi arcu diam hac nullam. Tortor pharetra risus sit in vitae rhoncus. Ultricies laoreet libero leo tellus; magnis a maecenas praesent.
         
         Luctus curabitur dapibus facilisi fermentum vel. Pulvinar est nullam pellentesque hac pulvinar placerat felis. Fermentum massa taciti est accumsan, lobortis vivamus. Lectus tempus curae vehicula, ullamcorper proin sed massa? Sem ultricies faucibus natoque lorem habitant lacus egestas. Arcu porta lectus dolor auctor aptent eleifend nulla malesuada. Semper accumsan suspendisse fusce porttitor aliquet rutrum quam. Ante facilisi ultrices scelerisque posuere mi semper dictum.
         
         Proin vitae ullamcorper et mi hendrerit aliquam mi. Gravida mattis condimentum eu, sollicitudin ligula a. Sit euismod congue turpis id arcu vitae. Odio nascetur posuere hendrerit nullam maecenas condimentum proin ut. Rhoncus volutpat nibh phasellus curabitur; inceptos nec. Mollis cras finibus senectus aliquam velit mattis. Semper porttitor maecenas ultrices cubilia ipsum neque diam dictumst maximus.
         
         Orci ultricies justo faucibus lorem ultrices mollis diam sem. Conubia lacinia volutpat dapibus mus; donec sit augue. Dis maecenas hac id nibh tortor. Natoque conubia litora ornare, primis nunc aliquam non. Etiam posuere turpis torquent cursus ridiculus conubia ipsum aliquam facilisis. Efficitur duis condimentum tincidunt facilisi pellentesque. Fringilla facilisis pellentesque inceptos id placerat sollicitudin nostra. Efficitur est mus per luctus malesuada, orci platea justo aenean. Dolor venenatis turpis molestie natoque sapien blandit praesent aliquet diam.
         
         Dictumst laoreet vehicula montes quam urna netus. Mollis mattis faucibus curabitur libero gravida commodo dapibus. Mollis massa diam ornare nec nullam tellus eleifend turpis tellus. Potenti accumsan sem torquent odio augue faucibus viverra mus primis. Cras nostra dictum congue litora egestas urna. Purus maecenas facilisis sollicitudin suscipit etiam nullam dis. Pretium senectus gravida suscipit vestibulum quis sollicitudin non. Fames fusce eu taciti scelerisque penatibus faucibus penatibus. Blandit ornare parturient duis ligula suspendisse pretium suscipit commodo.
         
         Tortor quam risus nostra et; ac taciti volutpat senectus. Nec morbi bibendum odio pellentesque; mollis finibus aenean neque. Neque ullamcorper quis dictumst et; curabitur sagittis vel vel. Justo hendrerit aliquam mattis semper, ante lectus feugiat. Libero consequat semper ullamcorper vel mus sodales nisi. Nostra nibh iaculis parturient tempus sociosqu.
        </h1>
</div>


{% endblock %}
