{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="p-5"><h1 class="text-center">Hello, {{current_user.name}}</h1>
        
    
<br>
{{current_user.user_type}}
{% if current_user.user_type == "student" %}

{{current_user.school_id}}
{% endif %}
{% if current_user.user_type == "instructor" %}

{% for course in current_user.courses %}
{{course}}
{% endfor %}
{% endif %}
    {% if current_user.user_type != 'instructor' %}
    <h3 class="">Browse Courses</h3>
        <div class="text-center"><div class="row">
            {% for course in courses %}
                    <div class="col-md-4 mb-3">
                        <div class="shadow-lg card h-100">
                            <img src="data:image/png;base64,{{ course.cover }}" class="card-img-top" alt="Course Cover Image">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title mt-auto">{{ course.title }}</h5>
                                <p class="card-text mt-auto">{{ course.description }}</p>
                                <a href="{{ url_for('views.course', id=course.id) }}" class="btn btn-primary mt-auto">View Course</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}</div>
    {% else %}
    
    {% endif %}
    </div>
{% endblock %}
    