{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="container p-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div   
    class="card-header">
              <h5 class="card-title">Forgot Password</h5>
            </div>
            <div class="card-body">
              <form method="POST">
                
                <div class="mb-3">
                  <label for="security-answer" class="form-label">Security Question: {{user.question}}</label>
                  <input type="text" class="form-control" id="security-answer" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Reset Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% endblock %}
    