{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col text-center p-3">
            <h4>Registering as a school?</h5>
            Click <a href="{{url_for('auth.schoolsignup')}}">here</a>

        </div>
        <div class="col-md-8">
            <div class="card">
                <div   class="card-header">
                    <h4 class="card-title text-center">Create an Account</h5>
                </div>
                <div class="card-body">
                    <form>  

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        
                        <div class="mb-3">
                            <label   for="password" class="form-label">Create Password</label>
                            <input type="password" class="form-control" id="password"   required>
                        </div>
                        <div class="mb-3">
                            <label   for="c_password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="c_password"   required>
                        </div>
                        <div class="mb-3">
                            <label   for="security" class="form-label">Security Question</label>
                            <input type="text" class="form-control" id="security"   required>
                        </div>
                        <div class="form-check my-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                I am registering as a student.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>  

                    </form>
                </div>
            </div>
        </div>
        <div class="col text-center p-3">
            <h4>Already have an account?</h5>
            Click <a href="{{url_for('auth.login')}}">here</a> to login.

        </div>
    </div>
</div>

{% endblock %}