
{% extends "base.html" %} 

{% block title %}Upload a Course{% endblock %} {% block content %}

<div class="container m-2 p-5">

    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Course Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
  
        </div>
        <div class="mb-3">
            <label for="image">Cover Image:</label>
            <input type="file" name="cover_image" id="cover_image" accept="image/*" required>
        </div>
        <div id="videoInputs">
            <div class="videoInput">
                <label for="videoTitle1">Video Title:</label>
                <input type="text" name="videoTitle[]" id="videoTitle1" required>
                <input type="file" name="videoFiles[]" id="videoFile1" accept="video/*" required>
                <button type="button" class="btn btn-primary addVideoButton">Add Video</button>
            </div>
        </div>
        </div>
        <div class="text-center">
        
        <button class="btn btn-success">Save</button></div>
        
    </form>
</div>





    
    <script>

        $(document).ready(function() {
            var videoInputCount = 1;
        
            $('.addVideoButton').click(function() {
                videoInputCount++;
        
                var newVideoInput = `
                
                    <div class="videoInput">
                        <br>
                        <label for="videoTitle${videoInputCount}">Video Title:</label>
                        <input type="text" name="videoTitle[]" id="videoTitle${videoInputCount}">
                        <input type="file" name="videoFiles[]" id="videoFile${videoInputCount}" accept="video/*" />
                        <button type="button" class="btn btn-danger removeVideoButton">Remove Video</button>
                    </div>
                `;
        
                $('#videoInputs').append(newVideoInput);
        
                $('.removeVideoButton').click(function() {
                    $(this).parent().remove();
                });
            });
        });
    </script>

{% endblock %}
    