{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    
    
<div class="container justify-content-center row p-5">
    <div class="col-md-8 text-center border rounded py-3 px-3">

        {% if current_user.is_authenticated %}
        
                <form class="form-inline d-flex gap-1">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark btn my-2 my-sm-0" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </button>
                </form>
                <div class="my-2">
                <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">School</th>
                        <th scope="col">Zip Code</th>
                        <th></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for school in schools %}
                      <tr>
                        
                        <td>{{school.name}}</td>
                        <td>{{school.zip_code}}</td>
                        <td><button class="btn btn-sm btn-primary" onClick="selectSchool({{school.id}})">Select</button></td>
                         
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
        {% else %}
        
        <h4>Please <a href="{{url_for('auth.login',future='views.add_school')}}">login</a> to add a school to your account.</h4>
        <h4>If you don't have an account, <a href="{{url_for('auth.signup')}}">sign up.</a></h4>

        {% endif %}
    </div>
</div>

    {% endblock %}
    